<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meaning of {{result1.name}}</title>
    <link rel="stylesheet" href="css/nameinfo.css">
</head>
<body>
   <header>
    <div class="back_btn"><img src="images and icon/arrow_icon/left_arrow-64.png" alt="png"></div>
    <div class=""><h1>{{result1.name}}</h1></div>
    <div class=""><img src="images and icon/share/share_64.png" alt="png"></div>
   </header>
   <main>
    <div class="meaning_section">
    <span>meaning</span>
    <h1 class="meaning">{{result1.meaning}}</h1>
</div>
    <div class="second_section">
        <div class="gender_section second_section_div">
            <img src="images and icon/gender/boys_gender_64.png" alt="png">
            <span>Gender</span>
        </div>
        <div class="second_section_div">
            <h3>45</h3>
            <span>Numerology</span>
        </div>
        <div class="second_section_div">
            <h3>34.8</h3>
            <span>Syllables</span>
        </div>
    </div>
    <div class="bottom_section">
        <div class="Religion">
           <span>Religion</span> 
           <h3>{{result1.Religion}}</h3>
        </div>
        <div class=""><span>Do you like this name?</span></div>
        <div class=""><span>You want to save it?</span></div>
    </div>
    <div class="">
        <h1>Viwe Similar Names</h1>
    </div>
   </main>
   <script src="js/nameinfo.js"></script>
</body>
</html>